html {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: bold;
}

.page-title {
  font-size: 3rem;
  text-align: center;

  /* your code here */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
