body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: 750;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  font-size: 1em;
  font-weight: 400;
}

.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-forth {
  flex-basis: calc(100% / 4);
}

.column-two-third {
  flex-basis: calc(200% / 3);
}

.responsive-image {
  width: 100%;
  height: auto;
}
